
$family-sans-serif: 'IBM Plex Sans';
$primary: #008dd5;
$light: hsl(0,0,96%);

@import "bulma/bulma.sass";

body {
	background-color: $light;
}

.column {
	transition: opacity 0.3s ease, flex-basis 0.3s ease, max-width 0.3s ease;
}

@keyframes dashmove {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -1000px;
	}
}

.marker {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.8em;
	margin: 1em 0 0.5em 0;
}

.box {
	background-color: $white;
	box-shadow: none;
	border: 1px solid #ccc;
}

.columns {
	> #second {
		opacity: 0;
		@include from($tablet) {
			max-width: 0;
		}
	}

	#main {
		.state path {
			fill: #aaa;
			transition: fill 0.2s ease;

			&:hover {
				fill: lighten($red, 20)!important;
			}

			&[data-selected="true"]{
				fill: lighten($red, 10)!important;
			}
		}

		&:hover {
			.state path {
				fill: #bbb;
			}
		}

		path.connect {
			pointer-events: none;
			stroke: $red;
			transition: all 0.5s ease;
		}

		path.connect.one {
			stroke-dasharray: 10px;
			animation: dashmove 15s linear infinite;
		}

		path.connect.hidden {
			opacity: 0;
		}

		circle {
			pointer-events: none;
		}
	}
}

.columns[data-expanded="true"] {
	> #second {
		opacity: 1;
		@include from($tablet) {
			> #content { width: 300px; }
			max-width: 300px;
		}
	}

	#main {
		path.connect {
			stroke: lighten($dark, 20);
		}
		path.connect[data-selected="true"] {
			stroke: $red;
			opacity: 1;
		}
	}
}

#content-state {
	font-size: 2em;
	margin-bottom: 1rem;
}

ul {
	padding-left: 1em;
	list-style: circle;
}
